.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-left: 5vh;
    padding-right: 5vh;
}

.nav {
    min-width: 250px;
    width: 100%;
}

.span {
    font-size: xx-large;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    color: #2E3440;
}