@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gistesy";
  src: url("../public/fonts/gistesy/Gistesy.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../public/img/main_green_texture.jpg") repeat;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}