#home_page {
	height: 80vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(249, 252, 255);
	position: relative;
}

.left {
	height: 100%;
	width: 50%;
	background-color: #dd3c39e0;
}

.right {
	height: 100%;
	width: 50%;
	background-color: ;	
}